.cards{
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 291px;
    top: 127.36px;
    left: 3px;
    border-radius: 30px ;
    border: 1px solid #FFFFFF;
    margin: 0 320px 0 320px;
    gap: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-bottom: 120px;
}
.tituloRow{
    color: #4A007F;
    font-family: "Lato",sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 80px 0 0 704px; //200 - 120
}
.linha{
    margin-bottom: 70px;
    margin-left: 318px;
}

@media screen and  (min-width: 1280px) and (max-width: 1366px){
    .cards{
        width: 922.79px;
        height: 299.23px;
        
        margin: 0px 177.21px 86.24px 180px; 
       
    }
    .tituloRow{
        font-size: 28px;
        left: 33.6px;
        margin:0  464.69px 0 457.41px;
      
    }
    .linha{
        width: 922.79px;
        top: 42px;
        left: 3px;
        margin: 8px 173px 49.59px 176.49px;
        
        
    }
}
/*
@media screen and (min-width: 320px) and (max-width: 360px){
    .cards{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 91px;
    }
    .tituloRow{
        font-size: 20px;
        margin-left: 0;
    }
    .linha{
       width: 0;
    }
}


@media screen and (max-width: 425px){
    .tituloRows{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .cards{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px){

}

@media screen and (max-width: 768px){
    .tituloRows{
        text-transform: uppercase;
    }

    .cards{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cards{
        width: 85%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .cards{
        width: 85%;
    }
}
*/